<h2 class="category-title">Dans: {{list?.name}}</h2>

<form (ngSubmit)="validate()" class="main-container">
  <app-text-input [text]="'Nombre de groupes'" #input_person_nbr></app-text-input>

  <app-checkbox-choice [text]="'Mixer les anciens DWWM'" #checkbox_dwwm></app-checkbox-choice>

  <app-checkbox-choice [text]="'Mixer les ages'" #checkbox_age></app-checkbox-choice>

  <app-checkbox-choice [text]="'Mixer les niveaux techniques'" #checkbox_level></app-checkbox-choice>

  <button class="classic-button">Tirer</button>

</form>
