div > input {
    background-color: var(--pure-white);
    width: 100%;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 0 10px;
    min-height: 40px;

}

div {
    width: 100%;
}

div > p {
    margin: 10px auto;
}
