<h2 class="category-title">Mentions Légales</h2>
<div class="main-container">
  <section class="legal-section">
    <h3>1. Présentation du site</h3>
    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, nous portons à la connaissance des utilisateurs et visiteurs du site les informations suivantes :</p>

    <h4>Informations légales :</h4>
    <p>Nom du site : Gruppeo</p>
    <p>Adresse : site fictif</p>
    <p>Propriétaire : John Doe</p>
    <p>Responsable de publication : John Doux</p>
    <p>Contactez le responsable de publication : jdoux[at]john.co</p>
    <p>Hébergeur : Johnatan Doeit</p>
  </section>

  <section class="legal-section">
    <h3>2. Conditions générales d'utilisation</h3>
    <p>L'utilisation du site implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ci-après. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment.</p>

    <h4>Informations</h4>
    <p>Les informations et documents du site sont présentés à titre indicatif, sans caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.</p>
    <p>Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l'accès au site.</p>

    <h4>Interactivité</h4>
    <p>Les utilisateurs du site peuvent y déposer du contenu, notamment de type textes et images. Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement l'entière responsabilité juridique.</p>
    <p>Le propriétaire du site se réserve le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en vigueur.</p>
  </section>

  <section class="legal-section">
    <h3>3. Protection des données personnelles</h3>
    <p>Conformément à la Loi Informatique et Libertés du 6 janvier 1978 et au Règlement Général sur la Protection des Données (RGPD), vous disposez des droits d'accès, de rectification, de suppression et d'opposition aux données personnelles vous concernant.</p>
    <p>Pour les exercer, adressez un email à jdoux[at]john.co</p>

    <h4>Confidentialité</h4>
    <p>Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de nos services.</p>
  </section>

  <section class="legal-section">
    <h3>4. Propriété intellectuelle</h3>
    <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, et icônes sont la propriété exclusive de John à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
    <p>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit du propriétaire du site. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
  </section>

  <section class="legal-section">
    <h3>5. Liens hypertextes</h3>
    <p>Le site peut contenir des liens hypertextes vers d'autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site.</p>
    <p>Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse. Aucune autorisation ou demande d'information préalable ne peut être exigée par l'éditeur à l'égard d'un site qui souhaite établir un lien vers le site.</p>
  </section>

  <section class="legal-section">
    <h3>6. Droit applicable et juridiction compétente</h3>
    <p>La législation française s'applique au présent site. En cas de litige, les tribunaux français seront seuls compétents.</p>
    <p>Pour toute question relative aux présentes conditions d'utilisation du site, vous pouvez nous écrire à l'adresse email suivante : jdoux[at]john.co</p>
  </section>

  <section class="legal-section">
    <h3>7. Lexique</h3>
    <p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
    <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
  </section>
</div>
